<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!--<property name="show_sql">true</property>
        <property name="format_sql">true</property>-->

        <property name="hibernate.hbm2ddl.auto">create</property>

    </session-factory>
</hibernate-configuration>